.container{
    background-color:white;
    display: flex;
    margin: 15%;
}
.container div{
    padding: 20px;
    border: 2px solid black;
}
.container div[id="rem"]{
    border: 2px solid white;
}
.form{
    flex:1;
    display: block;
}
.form input{
    width:80%;
    padding: 7px;
    display: block;
}
.form input[type="checkbox"]
{
    display: inline;
    width: 15px
}
.img{
    background-image: url('log.jpg');
    flex:1;
}
body{
    background-color: black;
}
#btn{
    width:80%;
    padding: 7px;
    background-color: black;
    color: white;
}
#bt{
    width:80%;
    padding: 7px;
    
}
a {
    color: black;
    text-decoration: none;
}
